body {
  background-color: #222222;
  color: #fff;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.MainContCont {
  position: absolute;
}
